/*LOGIN MODAL*/
#login-modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
    
  }
  
  .modal{
    background-color: #fff;
    padding: 10px 0 20px 0;
    border-radius: 20px;
    width: 395px;
    height: 500px;
    text-align: center;
    border: 3px solid #D9D9D9;
    
  }

  .scaleModal {
    animation: scaling-modal 5s ease;
  }
  
  @keyframes scaling-modal {
    0% {
      height:500px;
    }
    50% {
      height:550px;
    }
    100% {
      height:600px;
    }
  }

  .top-form{
    display: flex;
    justify-content: flex-end;
    
  }
  
  .top-form .close-modal{
    cursor: pointer;
    padding: 0 20px;
    font-size: 25px;
  }
  
  .login-form h2{
    letter-spacing: 2px;
    margin-top: 70px;
    margin-bottom: 30px;
  }

  .signup-form h2{
    letter-spacing: 2px;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  
  .login-form .form-input,.signup-form .form-input{
    width: 75%;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 12px 12px;
    box-sizing: border-box;
    border: 2px solid #D9D9D9;
    border-radius: 17px;
    background-color: #fff;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  }
  
  .login-form ::placeholder, .signup-form ::placeholder { 
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  }
  
  .login-form :-ms-input-placeholder, .signup-form :-ms-input-placeholder { 
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  }
  
  .login-form ::-ms-input-placeholder, .signup-form ::-ms-input-placeholder { 
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  }

  .login-form form button, .signup-form form button{
    padding: 12px 12px;
    width: 75%;
    background-color: #42B2E8;
    border: 2px solid #D9D9D9;
    border-radius: 17px;
    color: #fff;
    margin: 10px auto;
    cursor: pointer;
  }
  
  .btn-round:hover {background-color: #2889b8}
  
  .btn-round:active {
    background-color: #2889b8;
    border: 2px solid #D9D9D9;
    transform: translateY(4px);
  }
  
  ::placeholder {
      font-weight: bold;
      font-size: 70%;
      color: #000000;
  }
  
  #unik{
    color:#329bcf;
    text-decoration: underline;
    font-size: 90%;
    font-weight: bold;
  }
  
  #unik:hover {
    color: #207eab;
  }
  
  #login-reshow{
    color:#329bcf;
    text-decoration: underline;
    font-size: 90%;
    font-weight: bold;
  }
  
  #login-reshow:hover {
    color: #207eab;
  }

  .delimiter {
    padding: 1rem;
  }
  
  .social-buttons .btn {
    margin: 0 0.5rem 1rem;
  }
  
  .signup-section {
    padding: 0.3rem 0rem;
    font-size: 75%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
  }

  #email{
    margin-bottom: 20px;
  }

  #userimage{
    display: none;
  }
  
  .file-upload{
    margin: 0 auto;
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    border-radius: 60px;
  }
  
  .wrapper{
    position: relative;
  }

  #image-preview{
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 2px solid #D9D9D9;
  }

  .button-right{
    width: 40px;
    height: 40px;
    border-radius: 60px;
    
    transition: ease .3s;
    background-image: url("resources/images/upload-icon.png");
    background-color: white;
    border: 2px solid #D9D9D9;
    background-size: contain;
    cursor: pointer;

    position: absolute;
    bottom: 0px;
    right: 0px;
  }

  .button-right:hover{
    transition: ease .2s;
    border: 4px solid rgb(216, 216, 216);
    background-color: rgb(216, 216, 216);
  }
