@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@font-face {
    font-family: "A-OTF Shin Go Pro B";
    font-style: normal;
    font-weight: normal;
    src: local('A-OTF Shin Go Pro B'), url('../resources/webfont/AOTFShinGoProBold.woff') format('woff');
}

*{
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    background: rgb(239,235,224);
    background: linear-gradient(129deg, rgba(239,235,224,1) 0%, rgba(245,245,245,1) 14%, rgba(255,255,255,1) 48%, rgba(215,241,255,1) 78%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin:0px;
    overflow-x: hidden;
    color:#363636;
}


.left-section{
    float: left;
    padding: 15px;
    position: fixed;
    width:20%;
}

.left-space{
    float: left;
    padding: 15px;
    width:20%;
}

.right-section{
    float: left;
    padding: 15px;
    width:25%;
    perspective: 1000px;
    border: none;
}

/*MID SECTION*/
.mid-section{
    float: left;
    padding: 15px;
    width:55%;
    margin-top: 50px;
}

.placeholder{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.button-system{
    width:10%;
    float:left;
    padding: 12px;
    box-sizing: border-box;
}

.vote-button{
    margin: 0 auto;
    background: transparent;
    border: 0;
    color:#6C6C6C;
    font-size: 1px;
    max-width: 100%;
}

.upvote:hover{
    color:#8BC34A
}


.downvote:hover{
    color:#bc6641
}

.upvote-count{
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    width: 100%;
    color:#6C6C6C;
}

.no-deco-link{
    text-decoration: none;
    color:inherit;
}

.link-line{
    color:inherit;
    text-decoration: none;
}

.link-line:hover{
    transition: ease .4s;
    text-decoration: underline;
}

.container{
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
}

.activity-header{
    font-family: 'Montserrat', sans-serif;
    color:#A09F9F;
    width: 100%;
    float:left;
    padding: 10px 20px 0px 20px;
    border-bottom: 3px solid #d7d4d4;
    margin-bottom: 10px;
}

.community-img{
    float:left;
    border-radius:500px;
    height:100%;
    width:5%;
    border: 3px solid #D9D9D9;
}

.content-wrapper{
    padding: 10px 20px 20px 20px;
}

.post-information{    
    float:left;
    width: 85%;
    color:#6B6B6B;
    font-size: 20px;
    margin-left: 5px;
}
.post-information p{    
   margin-top: 10px;
}
.community-name{
    font-weight: 600;
    font-size: 17px;
}
.op-info{
    font-size: 14px;
}
.op-name{
    font-weight: 500;
    color:#6B6B6B;
}
.comment-component{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding-left: 20px;
    margin-top: 10px;
    color:#6C6C6C;
    text-decoration: none;
}

.content-holder{
    border-radius: 40px;
    border: 3px solid #D9D9D9;
    transition: ease .4s;
    word-wrap: break-word;
    overflow: hidden;
}

.content-holder:after{
    content: " "; 
    display: block;
    clear: both;
}

/*.content-holder:before{
    content: '';
    display: block;
    position: absolute;
    bottom:0;
    left:0;
    height: 20%;
    width: 100%;
    background: linear-gradient(to bottom, transparent 0%, rgb(255, 255, 255) 100%);
}*/


.content-holder:hover{
    transition: ease .4s;
    border-color: #a6a5a5;
    background: rgb(124,159,163);
    background: linear-gradient(0deg, rgba(124,159,163,0.2763480392156863) 0%, rgba(239,235,224,0.23713235294117652) 73%);

}

.content-holder .title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
}

.content{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.post-wrapper{
    height: inherit;
}
.image-container{
    min-height: 500px;
    max-height: 600px;
    width: 100%;
    padding-bottom:20px;
    border-radius: 25px;
}
/*RIGHT SECTION*/

.hehe{
    position: relative;
    width:calc((2/3)*43vh);
    margin-top: 50px;
    height: 43vh;
    transform-style: preserve-3d
}

.profile-container, .bio-container{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    border-radius: 50px;
    background: rgb(230,246,252);
    background: linear-gradient(157deg, rgba(230,246,252,1) 0%, rgba(252,252,252,1) 22%, rgba(246,250,251,1) 71%, rgba(209,243,255,1) 98%);
    border: 3px solid #c3c3c3;
    box-shadow: 0px 9px 15px 0px #25373b28;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    transition: transform 0.8s;
}

.bio-container{
    transform: rotateY(180deg);
}

.rotate {
    transform: rotateY(-180deg);
    transition: 0.8s;
}

.rotate-reset {
    transform: rotateY(0deg);
    transition: 0.8s;
}


.profile-wrapper{
    position: absolute;
    width: 100%;
    top: 70%;
    transform: translateY(-70%);
}

.profile-img-wrapper{
    width:60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.profile-img{
    width:100%;
    border: 3px solid #D9D9D9;
    border-radius: 10px;
}

.profile-info-wrapper{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 600;
}

.profile-name{
    padding:35px 20px 35px 20px;
    background: rgb(214,255,247);
    background: linear-gradient(158deg, rgba(214,255,247,1) 0%, rgba(124,199,239,1) 9%, rgba(98,183,237,1) 15%, rgba(64,162,233,1) 21%, rgba(50,153,232,1) 49%, rgba(184,236,244,1) 100%, rgba(22,109,180,1) 100%);
    font-size: 25px;
    color: #FFFFFF;
}

.profile-info{
    font-size:12px;
    color: #4D4D4D;
}

.bio-wrapper{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 20px;
}

.bio-header{
    font-size:20px;
    color: #101010;
}

.bio-body{
    font-size:15px;
    color: #101010;
}

.logoID{
    position: absolute;
    top:0;
    right: 0;
    margin:35px 20px 20px 20px;
}

#circle-cutout{
    position: absolute;
    mix-blend-mode: lighten;
    bottom: 0;
    margin: 0 auto;
    margin-top: 10px;
}