
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@font-face {
    font-family: "A-OTF Shin Go Pro B";
    font-style: normal;
    font-weight: normal;
    src: local('A-OTF Shin Go Pro B'), url('../resources/webfont/AOTFShinGoProBold.woff') format('woff');
}

*{
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    background: rgb(239,235,224);
    background: linear-gradient(129deg, rgba(239,235,224,1) 0%, rgba(245,245,245,1) 14%, rgba(255,255,255,1) 48%, rgba(215,241,255,1) 78%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin:0px;
    overflow-x: hidden;
    color:#363636;
}


.left-section{
    float: left;
    padding: 15px;
    position: fixed;
    width:20%;
}

.left-space{
    float: left;
    padding: 15px;
    width:20%;
}

.mid-section{
    float: left;
    padding: 15px;
    width:80%;
    padding-top: 0px;
    margin-top: 0px;
}

.right-section{
    float: left;
    padding: 15px;
    width:30%;
    padding-top: 0px;
}

.top-section{
    float: left;
    padding-bottom: 15px;
    width:100%;
    height:280px;
    border-left: 3px solid #D9D9D9;
    border-right: 3px solid #D9D9D9;
    border-bottom: 3px solid #D9D9D9;
    border-bottom-left-radius:55px;
    border-bottom-right-radius:55px;
    background-color:white;
    position:relative;

    margin-bottom: 20px;
}

.post-section{
    float: left;
    width: 65%;
    padding: 15px;
}

.ust-banner{
    width:100%;
    height:180px;
    position:absolute;
    border-bottom: 3px solid #D9D9D9;
    background-repeat:no-repeat;
    background-size:cover;
}

.profpic{
    width:200px;
    height:200px;
    position:absolute;
    margin-top:70px;
    margin-left:20px;
    
}
.ust-profpic{
    border-radius:100%;
    width:100%;
    height:100%;
    object-fit:cover;
    border: 3px solid #D9D9D9;

}
h1{
    font-family:"A-OTF Shin Go Pro B";
    font-weight:normal;
    font-size:30px;
    color:#222222;
    margin-top:170px;
    margin-left:240px;
}

.placeholder{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.school-banner{
    display:inline-block;
    height:10%;
    width:100%;
}


.button-system{
    width:10%;
    float:left;
    padding: 12px;
    box-sizing: border-box;
}

.vote-button{
    margin: 0 auto;
    background: transparent;
    border: 0;
    color:#6C6C6C;
    font-size: 1px;
    max-width: 100%;
}

.upvote:hover{
    color:#8BC34A
}


.downvote:hover{
    color:#bc6641
}

.upvote-count{
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    width: 100%;
    color:#6C6C6C;
}

.no-deco-link{
    text-decoration: none;
    color:inherit;
}

.container{
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
}

.create-container{
    width: 85%;
    margin-left: 10%;
    float: left;
    box-sizing: border-box;
    border: 3px solid #D9D9D9;
    border-radius: 30px;
    padding: 10px;
    transition: ease .4s;
    word-wrap: break-word;
    overflow: hidden;
}

.post-header{
    font-family: 'Montserrat', sans-serif;
    color:#A09F9F;
    width: 100%;
    float:left;
}

.community-img{
    float:left;
    border-radius:500px;
    height:100%;
    width:5%;
    border: 3px solid #D9D9D9;
}

.user-img{
    float:left;
    border-radius:500px;
    height:100%;
    width:5%;
    border: 3px solid #D9D9D9;
    margin-left:20px;
    margin-top:3px;
}

.post-information{    
    float:left;
    width: 85%;
    color:#6B6B6B;
    font-size: 20px;
    margin-left: 5px;
}
.post-information p{    
   margin-top: 10px;
}
.community-name{
    font-weight: 600;
    font-size: 17px;
}
.op-info{
    font-size: 14px;
}
.op-name{
    font-weight: 500;
    color:#6B6B6B;
}
.comment-component{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding-left: 20px;
    margin-top: 10px;
    color:#6C6C6C;
    text-decoration: none;
}

#createInput{
    float:left;
    width: 70%;
    margin-left: 20px;
    margin-top: 2px;
    padding: 10px;
    border: 3px solid #D9D9D9;
    background-color: transparent; 
    color:#6B6B6B;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.content-holder{
    border-radius: 40px;
    border: 3px solid #D9D9D9;
    padding: 20px;
    transition: ease .4s;
    word-wrap: break-word;
    overflow: hidden;
}

.content-holder:after{
    content: " "; 
    display: block;
    clear: both;
}

.form-holder{
    border-radius: 40px;
    padding: 20px;
    transition: ease .4s;
    word-wrap: break-word;
    overflow: hidden;
}

.title-input{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    border-radius: 15px;
    border: 3px solid #D9D9D9;
    padding: 10px;
    width: 100%;
    transition: ease .4s;
    word-wrap: break-word;
    overflow: hidden;
    margin-bottom: 10px;
}

.title-input::-webkit-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color:#6C6C6C;
  }
  
  .title-input:-ms-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color:#6C6C6C;
  }
  
  .title-input:-moz-placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color:#6C6C6C;
  }
  
  .title-input::-moz-placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color:#6C6C6C;
  }

  .ql-toolbar{
    border: 3px solid #d9d9d9 !important;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.posteditor{
    margin-bottom: 20px;
    border: 3px solid #d9d9d9 !important;
    border-top: 0px !important;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.post-button{
    transition: ease .4s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color:#949495;
    font-size: 15px;
    width: 20%;
    padding: 10px 5px 10px 5px;

    background-color: transparent;
    border: 2px solid #D9D9D9;
    border-radius:500px;
    cursor: pointer;
}

.post-button:hover{
    transition: ease .4s;
    border-color: #a6a5a5;
    background: rgb(124,159,163);
    background: linear-gradient(0deg, rgba(124,159,163,0.2763480392156863) 0%, rgba(239,235,224,0.23713235294117652) 73%);
}

.editor-wrapper{
    margin-bottom: 10px;
}

#createInput, #posteditor, .post-button, .ql-toolbar{
    background: white;
}

.content-holder:hover{
    transition: ease .4s;
    border-color: #a6a5a5;
    background: rgb(124,159,163);
    background: linear-gradient(0deg, rgba(124,159,163,0.2763480392156863) 0%, rgba(239,235,224,0.23713235294117652) 73%);
}

.content-holder .title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
}

.content{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.post-wrapper{
    height: inherit;
}
.image-container{
    min-height: 500px;
    max-height: 600px;
    width: 100%;
    padding-bottom:20px;
    border-radius: 25px;
}

.community-container{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    background-color: #ffffff;
    float: left;
    width: 85%;
    
    padding: 20px;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.community-header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.community-links{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.link-line{
    color:inherit;
    text-decoration: none;
}

.link-line:hover{
    transition: ease .4s;
    text-decoration: underline;
}
.attach-picbtn{
    float: left;
    width:5%;
    margin-left:15px;
    margin-top:10px;
    background-color:transparent;
    border-style:none;
}
.attach-linkbtn{
    float: left;
    width:5%;
    margin-left:10px;
    margin-top:10px;
    background-color:transparent;
    border-style:none;
}
.upload-img{
    height:20px;
    opacity:.5;
}
.attach-link{
    height:20px;
    opacity:.5;
}
